body {
    background-color: #6b34eb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: ivory;
    text-align: center;

    font-size: 50px;
}

p {
    margin: 2px;
}

.painel {
    height: auto;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: ivory;

}

.output-box {
    height: 100px;
    width: 200px;
    margin-top: 20px;
    padding-top: 80px;
    text-align: center;
    border: 3px solid blueviolet;
    border-radius: 0; 
}

.border-control{
    width: 100%;
    text-align: center;
    color: #6b34eb;
    
}

.border-control input {
    width: 80%;
}

.btn-submit, .btn-copy {
    bottom: 0;
    margin: 20px;
    height: 30px;
    width: 70px;

    border: 1px solid #6b34eb;
    color: #6b34eb; 
}
